body{
    margin: 0;
    font-size: 18px;
    font-family: Arial,Verdana, sans-serif;
    color: #01161E;
}

/* ヘッダー */

header {
    background-color: #124559;
    color: #fff;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

header h1,
header p{
    margin: 0;
}

header img{
    max-width: 100%;
    max-height: 200px;
    vertical-align: bottom;
}
/* メインコンテンツ */

main{
    background-color: #f4f4f4;
    padding: 8px;
    text-align: center;
}

.text{
    width: 75%;
    margin: 0 auto;
    text-align: left;
}

.AboutMe img{
    margin: 0;
    width: 50px;
    height: 50px;
}



/* 見出し */

h2 {
    width: 280px;
    text-align: center;
    padding: 1rem 2rem;
    margin: 48px auto;
    border-top: 6px double #598392;
    border-bottom: 6px double #598392;
}

/* テーブル */

table {
    width : 50%;
    margin: 8px auto;
    border-collapse: collapse;
    border: solid 2px #598392;
}

table th,table td {
    padding: 3px 10px;
    border: dashed 1px #598392;
}

table th{
    background-color: #124559;
    color: #f4f4f4;
}

/* すきなものボックス */

.likeBox {
    text-align: left;
    width : 75%;
    position: relative;
    margin: 2em auto;
    padding: 1em 1em;
    border: solid 3px #e9bad7;
    border-radius: 8px;
}
.likeBox .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #f4f4f4;
    color: #e9bad7;
    font-weight: bold;
}
.likeBox p {
    margin: 0; 
    padding: 0;
}

/* にがてなものボックス */

.dislikeBox {
    text-align: left;
    width : 75%;
    position: relative;
    margin: 2em auto;
    padding: 1em 1em;
    border: solid 3px #AEC3B0;
    border-radius: 8px;
}
.dislikeBox .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #f4f4f4;
    color: #AEC3B0;;
    font-weight: bold;
}
.dislikeBox p {
    margin: 0; 
    padding: 0;
}

/* メディアクエリー */
@media (min-width: 900px){

    .AboutMe .container{
        display: flex;
        width : 800px;
        margin: 0 auto;
    }



    .Personality .container{
        display: flex;
        width : 800px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .likeBox {
        width: 45%;
    }

    .dislikeBox{
        width: calc(45% - 16px);
    }

}

@media (max-width: 900px){

    /* .AboutMe img{
        width: 30px;
        height: 30px;
    } */

    table {
        width : 75%;
    }
}

/* フッター */

footer{
    padding: 32px 0;
    background-color: #124559;
    color: #fff;
    text-align: center;
}